In [1]:
%run functions.py

import os

In [14]:
url1 = 'https://www.sports-reference.com/cfb/years/'
year = 2022
url2 = '-schedule.html'
url = url1+str(year)+url2 

fbs = pd.read_csv(os.getcwd() +"\\FBS.csv")


week = 20

hfa = minimize_scalar(error_hfa, args=(url, week), method='brent', tol=0.001)['x']
decay = minimize_scalar(error_decay, bounds=(0,1), args=(hfa, url, week), method='bounded')['x']

hyperparameters = {
  "home_adv": hfa,
  "decay_rate": decay
}


underwood = get_underwood(year, week = week, hyperparameters = hyperparameters)
worster = get_worster(year, week = week)

underwood = underwood[underwood['team'].isin(fbs['team'])].reset_index(drop = True)
underwood.insert(loc=0, column='rank', value=range(1,132))

worster = worster[worster['team'].isin(fbs['team'])].reset_index(drop = True)
worster.insert(loc=0, column='Rank', value=range(1,132))

underwood.columns = ['Rank', 'Team', 'Rating', 'Std Dev']

underwood.to_csv("underwood.csv",index=False)
worster.to_csv("worster.csv", index=False)

In [15]:
underwood

     Rank                   Team     Rating   Std Dev
0       1             Ohio State  43.913247  7.773376
1       2                Georgia  40.088104  8.647175
2       3                Alabama  37.368295  7.407139
3       4               Michigan  33.451812  7.072688
4       5              Tennessee  32.402555  7.776176
..    ...                    ...        ...       ...
126   127                 Hawaii -15.978385  8.384301
127   128       New Mexico State -16.088271  7.797055
128   129              Charlotte -16.791462  7.615773
129   130  Florida International -16.937894  8.721870
130   131          Massachusetts -18.939851  7.288332

[131 rows x 4 columns]